body {
    background-color: #2a2a2a;
    color: white;
    font-family: Lato;
}

.centerflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main { 
    width: 100%;
    height: 100%;
    text-align: center
}

.mainQuestion h1 {
    margin-bottom: 0px;
}

button {
    background-color: #ff8000;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-family: comic sans ms;
    margin-top: 20px;
    height: 40px;
    width: 150px;
    cursor: pointer;
}

math-field {
    min-width: 300px;
    border: 2px solid white;
    border-radius: 3px;
    padding: 0px 5px;
    --selection-color: blue;
}

#randQuestion {
    margin: 15px 0px 25px 0px;
    border: none !important;
    display: flex;
    justify-content: center;
}

.ML__content {
    justify-content: center !important;
}

.subjects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.subjectOption {
    cursor: pointer;
    width: 300px;
    height: 300px;
    border: 2px solid white;
    border-radius: 12px;
    margin: 0px 28px;
    transition-duration: 0.1s;
    background-color: rgba(0, 0, 0, 0.25);
}

.subjectOption:hover {
    scale: 1.03;
    background-color: rgba(0, 0, 0, 0.5);
}

.subjectOption p {
    font-weight: bold;
    font-size: 24px;
}

.subjectIcon {
    height: 135px;
}

.subjectIcon img {
    width: 120px;
}

.xpBar {
    position: fixed;
    bottom: 0px;
    height: 40px;
    width: 100%;
    background-color: black;
    border-top: 2px solid white;
}

#xpProgress {
    background-color: blue;
    width: 0%;
    height: 100%;
    position: absolute;
    z-index: -10;
    pointer-events: none;
    left: 0px;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}